health_risk_factors/src/data/insufficent_physical_activity.json
health_risk_factors/src/data/consume_over_two_drinks.json
health_risk_factors/src/data/daily_smoker.json
health_risk_factors/package.json
health_risk_factors/package-lock.json

health_risk_factors/assignment2.zip
health_risk_factors/Design Summary.docx
health_risk_factors/Design Summary.pdf
